
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../assert/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}


.leaderboard {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}

.leaderboard h2 {
  color: #348628; 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 26px;
  font-family: 'Comic Sans MS', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #4CAF50;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px;
  font-size: 18px;
  border-bottom: 2px solid #2d6a4f;
  font-family: 'Comic Sans MS', Arial, sans-serif;
}

tbody {
  display: block;
  max-height: 500px; /* Scrolable tbl bdy */
  overflow-y: auto;
}

tbody::-webkit-scrollbar {
  width: 8px;
}

tbody::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.6);
}

tbody::-webkit-scrollbar-thumb {
  background-color: #2d6a4f;
  border-radius: 4px;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody tr:nth-child(even) {
  background-color: rgba(84 ,212 ,64,0.5); 
}

tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.5); 
}

tbody tr:hover {
  background-color: #95d5b2;
}

th, td {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  color: #2d6a4f;
}

td {
  border-bottom: 1px solid rgba(64, 145, 108, 0.5);
}
